/* video cards */
.card-img-overlay {
  top: auto;
  background: rgba(20,20,20,0.9);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-img, .card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
  border-bottom-left-radius: var(--bs-card-inner-border-radius);
  border-bottom-right-radius: var(--bs-card-inner-border-radius);
}

.card:hover {
  color: #eee;
  background: #eee;
}

html {
  background: url('../img/bg-roof.jpg') bottom center no-repeat scroll;
  background-size: 100%;
  background-color: #212529;
}

body {
  background: linear-gradient(175deg, rgba(35,45,55,1), rgba(20,25,30,1), rgba(35,20,30,0.9));
}

#about > * {
  max-width: 60rem;
}

#reel {
  background: linear-gradient(90deg, #15171a, #1a1d20, #15171a);
}
