body {
	background-color: #fffcf5;
	border-top: 10px solid #eb5055;
	font-family: 'Raleway', sans-serif;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
	font-family: 'Lora', serif;
}

h1.my-name {
	margin: .6em 0em;
	font-size: 48px;
}